body {
    background-color: #fff8dc;
}
hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    height : 0px;
    width : 10%;
    border-width : 5px;
    border-color : grey
}
h1 {
    color: #66bfbf;
}
h3 {
    color: rgb(240, 142, 218);
}